<!--
You might want to add additional HTML elements to ST. It's good practice to separate it out from your code
-->
<div class="jinja-parser-custom-css">
	<div class="inline-drawer">
		<div class="inline-drawer-toggle inline-drawer-header">
			<b>Jinja Parser</b>
			<div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
		</div>

		<div id="jinja-parser-settings-window" class="inline-drawer-content p-15px">
			<div class="flex-container flex-column separator-bottom">
				<b>Settings</b>
			</div>

			<div class="flex-container flex-column mb-10px">
				<b>Debug settings</b>

				<div class="flex-container">
					<input id="jinja-parser-check-configuration" class="menu_button" type="button" value="Check Configuration" />
					Print the configuration values ​​through the console
				</div>

				<label class="flex-container">
					<input id="jinja-parser-debug" jinja-parser-setting="debug" type="checkbox" />
					Enable/Disable the debug console logs
				</label>
			</div>
		</div>
	</div>
</div>
